PORT=3001
NODE_ENV=development

# Datos de conexion a la base de datos (Supabase o PostgreSQL local)
DB_HOST=
DB_PORT=6543
DB_NAME=postgres
DB_USER=
DB_PASSWORD=

# API del Banco Central (provista por el profesor)
CENTRAL_BANK_URL=https://centralbank.brocoly.cc/api
CENTRAL_BANK_API_KEY=
X_ENVIRONMENT=test

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# Numero de banco asignado
NUMERO_BANK=

# Clave secreta para JWT (poner cualquier cadena larga y random)
JWT_SECRET=
